* {
  background-image: url("../img/picnic.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: fantasy;
}

iframe {
  border-radius: 15%;
  border-width: 25px;
  width: 50%;
  padding: 30px;
}

img {
  border-radius: 50%;
  border-style: inset;
  border-width: 25px;
  width: 50%;
  padding: 10px;
}

h1 {
  font-size: 60px;
  color: rgb(199, 31, 39);
}

.light {
  color: yellow;
}

a {
  font-size: 20px;
  color: rgb(255, 203, 31);
  line-height: 50px;
  
}

#links {
  padding: 80px;
}